.s1, .s2, .s3, .s4{

	min-height: 400px;
}

/*.s1{
	background-color: red;
}
.s2{
	background-color: green;
}
.s3{
	background-color: blue;
}
.s4{
	background-color: yellow;
}*/


.parallax-window {
	min-height: 600px;
	background: transparent;
}
